name: release

on:
  push:
    tags:
      - v*

permissions:
  contents: write
  pull-requests: write

jobs:
 release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v4
        with:
          go-version: "1.22"

      - name: Run goreleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          version: latest
          args: release --clean --config .goreleaser.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
